<ng-template #loading>
  <app-loader></app-loader>
</ng-template>

<ng-template #noData>
  <p class="text text-warning">Aucune tâche trouvée.</p>
</ng-template>

<ng-container *ngIf="todos; else loading">
  <div class="actions">
    <button>Ajouter une tâche</button>
    <button>Supprimer tâche finies</button>
  </div>

  <table *ngIf="todos.length; else noData">
    <tbody>
      <tr *ngFor="let t of todos; index as i" [ngClass]="{finished: t.finished}">
        <td><input type="checkbox" name="close-{{ i }}"></td>
        <td>{{ t.label }}</td>
        <td><button>Supprimer</button></td>
      </tr>
    </tbody>
  </table>
</ng-container>
