/* You can add global styles to this file, and also import other style files */
@import 'vars';

$error: red !default;

.text {
  &.text-warning {
    color: $warning-color;
  }

  &.text-error {
    color: $error;
  }
}
